{
    "extends": "airbnb/base",
    "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module"
    },
    "env": {
      "jquery": true
    },
    "rules": {
      "no-param-reassign": "off",
      "function-paren-newline": "off",
      "arrow-parens": [
        "error",
        "always"
      ],
      "arrow-body-style": [
        2,
        "as-needed"
      ],
      "comma-dangle": [
        "error",
        "only-multiline"
      ],
      "import/no-extraneous-dependencies": 0,
      "import/prefer-default-export": 0,
      "indent": [
        2,
        2,
        {
          "SwitchCase": 1
        }
      ],
      "max-len": 0,
      "no-console": [1, { "allow": ["warn", "error"] }],
      "no-extend-native": [2, { "exceptions": ["Number"] }],
      "semi": [
        "error",
        "never"
      ]
    }
  }
